.App {
  text-align: center;
  margin: 10px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.App-header a {
  margin: 0 8px;
  color: #eee;
}

.App-header a.selected {
  color: #fbb;
}

.App-title {
  font-size: 1.5em;
}
